.row.empty-state
  .col-12
    .svg-content
      = image_tag 'illustrations/feature_flag.svg'

  .col-12
    .text-content
      %h4.text-center= s_('FeatureFlags|Get started with feature flags')
      %p
        = s_('FeatureFlags|Feature flags allow you to configure your code into different flavors by dynamically toggling certain functionality.')
        = link_to 'More information', help_page_path("user/project/operations/feature_flags")
      .text-center
        = render 'new_feature_flag_button'
        = render 'configure_feature_flags_button'
