- type = local_assigns.fetch(:type, :epics)
- page_context_word = type.to_s.humanize(capitalize: false)
- display_count = local_assigns.fetch(:display_count, :true)

%ul.nav-links.mobile-separator.epics-state-filters
  %li{ class: active_when(params[:state] == 'opened') }>
    = link_to page_filter_path(state: 'opened', label: true), id: 'state-opened', title: (_("Filter by %{issuable_type} that are currently opened.") % { issuable_type: page_context_word }), data: { state: 'opened' } do
      #{issuables_state_counter_text(type, :opened, display_count)}

  %li{ class: active_when(params[:state] == 'closed') }>
    = link_to page_filter_path(state: 'closed', label: true), id: 'state-closed', title: (_("Filter by %{issuable_type} that are currently closed.") % { issuable_type: page_context_word }), data: { state: 'closed' } do
      #{issuables_state_counter_text(type, :closed, display_count)}

  = render 'shared/issuable/nav_links/all', page_context_word: page_context_word, counter: issuables_state_counter_text(type, :all, display_count)
